:javascript
  $(document).ready(function() { 
    $('.chzn-select-deselect').chosen().change(function() {
      var id = $(this).val();
      $.get('/cities/'+id+'/areas.js', function(data){});
      //document.location.href="/cities/"+id; //http://sravnim-ka.ru
      //alert('sdf')
    });
    $('body').my_upload();
  });
= form_for @user, html: {class:'form-horizontal'} do |f|
  .well.well-small  
    %legend Общая информация
    .control-group
      %label.control-label{:for => "inputEmail"} Email
      .controls
        = f.text_field :email, id:'inputEmail', placeholder:"Email", class: 'span8'      
    .control-group
      %label.control-label{:for => "inputCity"} Город
      .controls
        = select_tag "user[city_id]", options_from_collection_for_select(City.all, "id", "name"), :prompt => @user.city_id != nil ? @user.city.name : 'выберите город', class: 'span8'    
        = f.submit 'сохранить', class:'btn pull-right'
  .well.well-small
    %legend Смена пароля
    .control-group
      %label.control-label{:for => "inputPasswordOld"} Старый пароль
      .controls
        = password_field_tag 'old_password', '', id:'inputPasswordOld', placeholder:"Старый пароль", class: 'span8'
    .control-group
      %label.control-label{:for => "inputPassword"} Новый пароль
      .controls
        = f.password_field :password, id:'inputPassword', placeholder:"Новый пароль", class: 'span8'
    .control-group
      %label.control-label{:for => "inputPasswordConfirm"} Пароль еще раз
      .controls
        = f.password_field :password_confirmation, id:'inputPasswordConfirm', placeholder:"Повторите пароль", class: 'span8'
        = f.submit 'сохранить', class:'btn pull-right'
- if current_user.admin?
  %table.table
    - @users.each do |user|
      %tr
        %td= user
        %td= user.chain.name if user.seller?
        %td= link_to 'изменить аккаунт', edit_user_path(user)
        %td= link_to 'изменить роли', [user, :roles]
/- if current_user && (current_user.admin? || current_user.seller?)
/  .well.well-small#shops
/    %legend Магазины и прайсы
/    - if current_user.seller?
/      %label
/        Сеть магазинов: 
/        = current_user.chain
/    .row
/      = form_for XmlFile.new(chain_id: current_user.chain.id), html: {style:"padding-top:10px;padding-left:70px;padding-right:90px;"} do |f|
/        .controlls 
/          = f.hidden_field :chain_id
/          %label.control-label{:for => "xml_file_attach", style: 'display:inline'} Добавить общий прайс сети:&nbsp;&nbsp;&nbsp;
/          = f.file_field :attach, name: "xml_file[attach]", class: 'btn btn-mini new_xml_file'
/        %script{id:"template-upload", type:"text/x-tmpl"}
/          %div.upload
/            {%=o.name%}
/            %div.progress
/              %div.bar{style:"width: 0%"}
/      .offset2.span4= select_tag("city[id]", options_from_collection_for_select(City.all, 'id', 'name'), prompt: 'выберите город', class: 'chzn-select-/deselect')
/      .span4.area  
/    %hr/
/    .new_form
/    .shops