:javascript
  $(document).ready(function() { 
    $('.chzn-select-deselect').chosen().change(function() {
      var id = $(this).val();
      $.get('/cities/'+id+'/areas.js', function(data){});
      //document.location.href="/cities/"+id; //http://sravnim-ka.ru
      //alert('sdf')
    });
  });
= form_for @user, html: {class:'form-horizontal'} do |f|
  .well  
    %legend Общая информация
    .control-group
      %label.control-label{:for => "inputEmail"} Email
      .controls
        = f.text_field :email, id:'inputEmail', placeholder:"Email", class: 'span8'      
    .control-group
      %label.control-label{:for => "inputCity"} Город
      .controls
        = select_tag "user[city_id]", options_from_collection_for_select(City.all, "id", "name"), :prompt => @user.city_id != nil ? @user.city.name : 'выберите город', class: 'span8'    
        = f.submit 'сохранить', class:'btn pull-right'
  .well
    %legend Смена пароля
    .control-group
      %label.control-label{:for => "inputPasswordOld"} Старый пароль
      .controls
        = password_field_tag 'old_password', '', id:'inputPasswordOld', placeholder:"Старый пароль", class: 'span8'
    .control-group
      %label.control-label{:for => "inputPassword"} Новый пароль
      .controls
        = f.password_field :password, id:'inputPassword', placeholder:"Новый пароль", class: 'span8'
    .control-group
      %label.control-label{:for => "inputPasswordConfirm"} Пароль еще раз
      .controls
        = f.password_field :password_confirmation, id:'inputPasswordConfirm', placeholder:"Повторите пароль", class: 'span8'
        = f.submit 'сохранить', class:'btn pull-right'
  - if current_user && (current_user.admin? || current_user.saller?)
    .well#shops
      %legend Магазины и прайсы
      .row
        .offset1.span4= select_tag("city[id]", options_from_collection_for_select(City.all, 'id', 'name'), prompt: 'выберите город', class: 'chzn-select-deselect')
        .span4.area  
      %br/
      .row
        .offset1.new_form