= link_to 'добавить рекламу', new_promotion_path, class: 'btn btn-large btn-block btn-success', type: 'button'
%table.table
  - @promotions.each do |promotion|
    %tr
      %td{style: 'width: 140px;text-align:center;'}= image_tag(promotion.banner.url(:original)) if promotion.banner
      %td
        %span.label{style: 'width:100px;display:inline-block;text-align:center'} название
        %small= promotion.name
        %br/
        %span.label{style: 'width:100px;display:inline-block;text-align:center'} ссылка
        %small= promotion.link
        %br/
        %span.label{style: 'width:100px;display:inline-block;text-align:center'} информация
        %small= promotion.info == nil ? 'ожидает оплаты' : promotion.info
        %br/
        %span.label{style: 'width:100px;display:inline-block;text-align:center'} баланс
        %small= number_to_currency(promotion.balance / 10, unit: 'p.', separator: ',', format: "%n%u")
        %br/
        %span.label{style: 'width:100px;display:inline-block;text-align:center'} платежный код
        %span.label.label-important{style: 'display:inline-block;text-align:center', rel: 'tooltip', title: 'данный код нужно указать в комментариях к платежу на QIWI-кошелек 9050518868'}= promotion.key
      %td{style: 'width:80px;text-align:center;'}
        = link_to edit_promotion_path(promotion), title: 'изменить рекламу', rel: 'tooltip', class: 'btn btn-large', style: 'width:20px;margin-top:4px' do
          %i.icon-edit
        %br/
        %br/
        = link_to promotion, method: :delete, confirm: 'вы действительно хотите удалить рекламу?', title: 'удалить рекламу', rel: 'tooltip', class: 'btn btn-danger btn-large', style: 'width:20px' do
          %i.icon-trash
        
